hr {
  height: 0px;
  width: 0px;
}

.list-inline-item:hover {
  animation: shake 0.8s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

#divAbout {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  min-height: 600px;
  animation: opening .5s forwards linear;
  transform: translateY(-20px);
  opacity: 0;
}

#abText {
  margin-left: 1%;
  width: 40%;
  align-self: center;
}

#ulHS {
  /* width: 60%; */
  align-self: center;
}

@keyframes opening {
  to {
    transform: translateY(0px);
    opacity: 1;
  }
  from {
    transform: translateY(40px);
    opacity: 1;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
