hr {
  height: 0px;
  width: 0px;
}

.list-inline-item:hover {
  animation: shake 0.8s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

#divAbout {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  min-height: 600px;
}

#abText {
  align-self: center;
  animation: spin 1000ms forwards linear;
  margin-left: 1%;
  width: 40%;
}

#ulHS {
  align-self: center;
  animation: opening .5s forwards linear;
}

@keyframes opening {
  from {
    transform: translateY(40px);
    opacity: 1;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes spin {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
